.logo-image{
    width: 40px;
    height: 40px;
}

.navbar{
    background-color: rgb(244, 244, 244);
    width:100%;
    z-index: 100;
}

.loginBtn{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(50, 50, 100);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(50, 50, 100);
    background-color: transparent;
}

.subscribeBtn{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(50, 50, 100);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(50, 50, 100);
    background-color: transparent;
    margin-left: 10px;
}