.main-container{
    height: auto;
    padding: 100px 50px 0 50px;
}

.presentation{
    height: auto;
    width: 100%;
    padding-top: 8%;
    padding-left: 50px;
    padding-right: 50px;
}

.box{
    width: 100%;
    padding-top: 75px;
    display: inline-block;
    vertical-align: top;
}

.presentation-box {
    height: 500px;
    padding-left: 10%;
}

.image-box-main {
    height: auto;
    width: auto;
}

.image-box-main img{
    padding: 0;
    width: 90%;
    height: 90%;
}

.title{
    color: rgb(50, 50, 100);
    text-align: left;
}

.presentation-paragraph{
    padding-top: 20px;
    padding-right: 10px;
}

.h2-title{
    padding-top: 25px;
    text-align: center;
    color: rgb(50, 50, 100);
}

.layout-cards{
    padding: 50px 20% 50px 20%;
    display: flex;
}

.numbers{
    font-size: 40px;
    font-weight: bold;
    color: rgba(152, 173, 254);
}

.howToStartSection{
    background-color: rgba(152, 173, 254, 10%);
    z-index: 1;
}

section{
    padding: 25px 50px 50px 25px;
}

.cards{
    padding: 25px 50px 25px 25px;
}

.row{
    display: flex;
    justify-content: center;
}

.questions{
    align-items: center;
    justify-content: center;
}

.accordion{
    width: 800px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.basic{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.first{
    background-color: rgba(152, 173, 254, 20%);
    width: 60%;
    height: auto;
    margin: 50px;
    border-radius: 10px;
    font-size: 12px;
}

.second-box{
    padding-top: 0;
    height: auto;
    min-height: 200px;
    width: 29%;
    margin-left: 20%;
    background-color: rgba(105, 181, 174, 20%);
    border-radius: 10px;
    font-size: 12px;
    align-items: center;
}

.third-box{
    padding-top: 0;
    height: auto;
    min-height: 200px;
    width: 29%;
    margin-right: 20%;
    background-color: rgba(234, 127, 124, 20%);
    border-radius: 10px;
    font-size: 12px;
    align-items: center;
}

.statistics{
    margin-left: 20%;
    margin-right: 20%;
    height: 120px;
    width: 60%;
    border: 1px solid #dedede;
    box-shadow: 10px 10px 5px #dedede;

    display: flex;
    justify-content: space-between;
    background-color: white;
}

.numberOfSubjects, .numberOfTeachers, .numberOfStudents{
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: center;
    width: 30%;
    align-self: center;
}

.statisticsTitle{
    font-size: 40px;
    color: rgb(105, 181, 174);
}

.basic-titles{
    padding: 30px 30px 15px;
    margin: 0;
}

.basic-paragraph{
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin: 0;

}

.teachers{
    color: rgba(234, 127, 124);
}

.grade{
    color: rgb(105, 181, 174);
}

.online{
    color: rgb(152, 173, 254);
}

i{
    padding: 10px;
}

.centered-hr{
    width: 80%;
    margin: 0 auto;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.cards{
    padding-left: 10%;
    padding-right: 10%;
}