.main-container{
    height: auto;
    padding: 100px 50px 0 50px;
}

.varie{
    height: 1000px;
}

.presentation{
    height: auto;
    width: 100%;
    padding: 100px 50px 0 50px;
}

.box{
    width: 100%;
    padding-top: 100px;
    display: inline-block;
    vertical-align: top;
}
.presentation-box {
    height: auto;
    width: 60%;
}

.image-box {
    padding: 0;
    height: auto;
    width: 40%;
}

.title{
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.presentation-paragraph{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.h2-title{
    padding-top: 50px;
    text-align: center;
}

.layout-cards{
    padding: 50px 20% 50px 20%;
    display: flex;
}

.numbers{
    font-size: 40px;
    font-weight: bold;
    color: #52D3C7;
}

.howToStartSection{

    background-color: rgba(152, 173, 254, 10%);
}