.login{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}

.logandreg{
    width: 100%;
    vertical-align: top;
    justify-content: space-between;
}

.loginBox{
    padding: 0;
    display: inline-block;
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
    background-color: rgba(234, 127, 124, 20%);
    border-radius: 10px;

    /*valori temporanei*/
    height: 500px;

}

.registrationBox{
    padding: 0;
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    background-color: rgba(152, 173, 254, 20%);
    border-radius: 10px;

    /*valori temporanei*/
    height: 500px;
}

.title{
    color: rgb(50, 50, 100);
    padding-top: 20px;
}

.username{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    width: 50%;
}

.password, .email{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    width: 50%;
}

.btn{
    margin-top: 10%;
    background-color: rgb(50, 50, 100);
    color: white;
}

.btn:hover{
    background-color: green;
    color: white;
}